{% extends 'feed/base.html' %}
{% load crispy_forms_tags %}
{% block title %}Snet - {{user.first_name}} Profile {% endblock title%}
{% block body %}
<div class="container">
	<div class="w-50 shadow-lg bg-white p-3 rounded mx-auto mt-2">
		<div class="row">
			<div class="col-md-3">
				<img class="img-thumbnail rounded-circle"  src="{{obj.profile.p_img.url}}" width="100" height="100">
			</div>
			<div class="col-md-6 mt-4 p-1">
			<!-- 	<div class="row">
					<h4><small>Profile Details</small></h4>
				</div> -->
				<div class="row">
					<h4><small>{{obj.first_name|capfirst}} {{obj.last_name|capfirst}} | Profile</small></h4>
				</div>
			</div>	
		</div>
		<form>
			{% csrf_token %}
			<!-- {{pform|crispy}} -->
			<fieldset disabled="disabled"> 
				{{uform|crispy}}
			</fieldset>
			<div align="center">
				<!-- <input class="btn btn-success w-25" type="submit" name="" value="Update"> -->
			</div>
		</form>
	</div>
</div>
{% endblock body%}
