{% extends 'feed/base.html' %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Snet - Feed {% endblock title %}
{% block body %}
<div class="container">
	<div class="container">
		<div class="w-50 shadow-lg p-2 mt-2 mx-auto rounded">
			<form class="form-group" method="post" enctype="multipart/form-data">
				{% csrf_token %}
				{{form|crispy}}
				<input class="btn btn-primary" type="submit" name="" value="Post">
			</form>
		</div>
		<!-- Feed Container -->
		<div class="container rounded">
			{% for items in pages %}
			<div class="mx-auto shadow-lg border rounded w-50 mt-2">
				<!-- Post Header -->
				<div class="row p-1 ml-0 mr-0">
					<div class="col-md-3">
						<img class="img-thumbnail rounded-circle" 
						src="{{items.user.profile.p_img.url}}">
						<!-- width="100" height="100" -->
					</div>
					<div class="col-md-3 p-1 mt-2">
						<div class="row h-25 mt-2">
							{% if user == items.user %}
								<h5>
									<small>
										<a class="mb-1" href="{% url 'profile'%}">
											{{items.user.first_name}} {{items.user.last_name}}
										</a>
									</small>
								</h5>
							{% else %}
								<h5><small><a class="mb-1" href="{% url 'rprofile' items.user.id %}">{{items.user.first_name}} {{items.user.last_name}}</a></small></h5>
							{% endif %}
							
						</div>
						<div class="row">
							<small>{{items.date}}</small>
						</div>
					</div>
					<div class="col" align="right">
						{% if user == items.user %}
						<a href="{% url 'feed:feedit' items.id %}"><img class="border rounded-circle" src="{% static 'components/edit.png' %}" width="25" height="25" alt="Edit"></a>
						{% endif %}
					</div>

				</div>
				<!-- Post Content -->
				<div class="p-2">
					{{items.post}}	
				</div>
				<!-- User Photos in the Post -->
				<div class="p-2" align="center">
					<img class="img-thumbnail" src="{{items.images.url}}">
				</div>
				<!-- Bottom of the Post ->  Like, comment -->
				<!-- Like Section -->
				<div class="p-2 ml-2 row">
					<div class="col-xs-2 mr-0">
						<form method='post'>
							{%csrf_token %}
							<input type="hidden" name="items_id" value="{{items.id}}">
							<!-- {{like}} -->
							<button class="btn btn-link" type="submit" name='like' value=1>Like</button>
						</form>
					</div>
					<div class="col-xs-2 ml-0 mb-0 mt-1">
						<small>
							({{ items.like_set.all.count}})
						</small>
					</div>
				</div>
				<!-- Comment Section -->
				<div class="container">
					<div class="form-row align-items-center m-1">
						<form class="form-inline" method="post">
							{% csrf_token %}
							<div class="col-auto">
								<label></label>
								{{comment}}
							</div>
							<div class="col-auto">
								<input type="hidden" name="items_id" value="{{items.id}}">
								<input class="btn btn-success btn-sm from-control" id="inlineFormInputName2" type="submit" name="post" value="comment">
							</div>
						</form>
					</div>
					<div class="container">	
						{% for comment_list in items.comments_set.all %}
							<h6 class="mb-0 bg-light text-dark">
								<hr class="m-0">
								<a class="p-1" href="{% url 'rprofile' comment_list.user_id %}"><label>{{comment_list.user.first_name}}</label></a><small>{{comment_list.comments}}</small>
							</hr>
							</h6>
						{% endfor %}
						<!-- {{items.comments_set.all}} -->
					</div>	
				</div>
		
			</div>
			{% endfor %}
		</div>
		<!-- Feed Container Ends -->
		<div class="container mb-2 mt-2 p-2" align="center">
			{% if pages.has_previous %}
				<a class="btn btn-outline-info" href="?page=1">First</a>
			{% endif %}
			{% for num in pages.paginator.page_range %}
				{% if num == pages.number %}
					<a class="btn btn-info" href="?page={{num}}">{{num}}</a>
				{% elif num > pages.number|add:'-2' and num < pages.number|add:'2' %}
					<a class="btn btn-outline-info" href="?page={{num}}">{{num}}</a>
				{% endif %}
			{% endfor %}

			{% if pages.has_next %}
				<a class="btn btn-outline-info" href="?page={{pages.next_page_number}}">Next</a>
			{% endif %}

		</div>
	</div>

</div>
{% endblock body %}